.banner{
  height: 50px;
  width: 100%;
  background-color: #021b59;
  
}

#banner-alert{
  margin: 0 !important;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300 !important;
}