.navbar{
  height: 70px;
  width: 100%;
  background-color: white;
  position: fixed;
}

.nav-logo{
  height: auto;
  width: auto;
  margin-left: 2rem;
}

.nav-link{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: .9rem;
  letter-spacing: .1rem;
  color: black !important;
}